.mapWrapper{
    position: relative;
    height: calc(5vw * 5 + 5px - 5vw);
    width: calc(5vw * 7 + 7px);
}
.hexRow{
    position: absolute;
    display: flex;
    gap: 1px;
}
.hexRow:nth-child(1){
    top: 0;
}
.hexRow:nth-child(2){
    top: calc(5vw + 1px - 5vw/4);
}
.hexRow:nth-child(3){
    top: calc(10vw + 2px - 5vw/4 * 2);
}
.hexRow:nth-child(4){
    top: calc(15vw + 3px - 5vw/4 * 3);
}
.hexRow:nth-child(5){
    top: calc(20vw + 4px - 5vw/4 * 4);
}
.hexRow:nth-child(even){
    left: calc(5vw / 2);
}
.hexRow:nth-child(odd){
    left: 0;
}